*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 2fr 10fr;
    width: 100vw;
    height: 100vh;
}

.admin-menu{
    background-color: white;
    height: 100vh;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 15px;
}

.admin-corpo{
    overflow-y: scroll;
    padding: 15px;
    background-color: #cccccccc;
}

.admin-logo{
    display: grid;
    justify-content: center;
}

nav ul{
    padding: 0;
}

nav ul li{
    list-style-type: none;
    padding: 6px 10px;
}

nav ul li a{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
    padding: 8px;
    font-size: 1.1rem;
    transition: background 1s;
} 

nav ul li a:hover{
    color: white;
    background-color: darkgreen;
    border-radius: 15px;
    transition: background 1s;
}

.admin-logout{
    padding: 15px;
    display: grid;
    justify-content: space-between;
}

.admin-logout a{
    font-size: 1.2rem;
    color: darkgreen;
}

.menu-ativo{
    color: white;
    background-color: darkgreen;
    border-radius: 15px;
    transition: background 1s;
}

.admin-corpo h2{
    color: darkgreen;
}

/*============================== form ==============================*/


#form-cadastro{
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 10px;
}

#form-cadastro div .campo-cad{
    width: 100%;
    padding: 8px 12px;
    border: 0.2px solid black;
}

.btn-cadastro{
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    width: 10vw;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.center{
    display: grid;
    align-items: flex-end;
    justify-content: center;
    justify-items: center;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin-bottom: -18px;
}

.titulo-principal{
    margin-bottom: 10px;
    border: 0.3px solid black;
    border-bottom: none;
    padding: 3px 10px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
}
.div-cep{
    display: flex;
}

.btn-cep{
    padding: 8px 12px;
    background-color: darkgreen;
    color: white;
    border: 0.2px solid black;
    border-left: none;
}

.titulo-texto{
    font-size: 1.2em;
    font-weight: bold;
    color: darkgreen;
}

.tab-ativo{
background-color: darkgreen;
}

.tab-ativo p{   
    color: white;
}

.input-cep{
    width: 100% !important;
}

#listagem{
    display: none;
}